#With \
#ignore saved faces
project\face_recognition\faces\*
#ignore trainer files
project\face_recognition\trainer.yml
project\face_recognition\labels.pickle
project\face_recognition\_*
#ignore bat files
project\attendID\*.bat
tatü\*.bat
.idea\

#With /
#ignore saved faces
project/face_recognition/faces/*
#ignore trainer files
project/face_recognition/trainer.yml
project/face_recognition/labels.pickle
project/face_recognition/_*
#ignore bat files
project/attendID/*.bat
tatü/*.bat
.idea/


*.png
*.jpg
*.bat
