#ignore saved faces
project\face_recognition\faces\*
#ignore trainer files
project\face_recognition\trainer.yml
project\face_recognition\labels.pickle
project\face_recognition\_*
project\attendID\*.bat
tatü\*.bat
*.png
*.jpg
*.bat
